
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    font-family: "Epilogue";

}

.div1{
    height:1000px;
    width: 100%;
    background-color: #28293e;
}

.container{
    padding-top: 35px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.logo{
    width: 152px;
    height: 48px;
}

.head{
    display: flex;
    justify-content: space-between;
}

.nav_header{
    margin-top: 20px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 160px;
    list-style-type: none;
    color: white;
}

.nav_header a{
    text-decoration: none;
    color: white;
}

.btn{
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    background-color: #F1F1F1;
    border-radius: 7px;
    color: white;
    background-color: transparent;
    border: 0.01px solid white;
}

.fullinfo_div1{
    display: flex;
    padding-top: 130px;
    justify-content: space-between;
}

.info_div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 700px;
    height: 500px;
}

.star{
    position: relative;
    pointer-events: none;
    scale: 1;
    z-index: 1;
    margin-bottom: -210px;
    margin-left: 385px;
}

.text1_div1{
    letter-spacing: 3PX;
    font-size: 16px;
    color: #EF6D58;

}

.text2_div1{
    letter-spacing: -2px;
    line-height: 80px;
    font-weight: 800;
    font-size: 72px;
    color: #FFFFFF;
}

.text3_div1{
    line-height: 32px;
    font-size: 16px;
    opacity: 0.64;
    color: #FFFFFF;
}


.btn_div1{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.btn_div1 a{
    text-decoration: none;
    color: white;
}


.btn2{
    font-weight: 800;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    background-color: #EF6D58;
    border-radius: 7px;
    color: white;
}

.btn3{
    margin-top: 13px;
}

.info_div2{
    display: relative;
    width: 700px;
    height: 600px;
}

.shape_notebook{
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.notebook{
    position: absolute;
    z-index: 2;
    margin-top: 25px;
    margin-left: 25px;
    pointer-events: none;
}

.oval{
    z-index: 2;
    position: absolute;
    margin-left: 320px;
    margin-top: 40px;
    pointer-events: none;
}

.shape{
    z-index: 3;
    position: absolute;
    margin-left: 353px;
    margin-top: 68px;
    pointer-events: none;
}

.oval2{
    z-index: 0;
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    pointer-events: none;
}

.shape3{
    z-index: 2;
    position: absolute;
    margin-left: 330px;
    margin-top: 200px;
    pointer-events: none;
}

.path{
    z-index: 2;
    position: absolute;
    margin-left: 480px;
    margin-top: 100px;
    pointer-events: none;
}

.footerinfo_div1{
    display: flex;
    gap: 40px;
}

.logo_man{
    height: 54px;
    width: 54px;
    pointer-events: none;
}

.text_footerinfo_div1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


.text1_footerinfo_div1{
    color: white;
    opacity: 0.64;
}

.text2_footerinfo_div1{
    color: white;
}


.div2{
    height:1100px;
    width: 100%;
    background-color: #fdf0e9;
}


.header_div2 {
    display: flex;
    justify-content: center;
    padding-right: 30px;

}

.rectangle{
    scale: 1.4;
    margin-left: 220px;
    pointer-events: none;

}

.fullinfo_div2{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    gap: 180px;
}

.info1_div2{

}

.info2_div2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 500px;
    width: 500px;
}

.text1_div2{
    font-size: 16px;
    letter-spacing: 3px;
    color: #EF6D58;
}

.pick_div2{
    pointer-events: none;
}

.text2_div2{
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1px;
    color: #391400;
}

.text3_div2{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
}

.text4_div2{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
    opacity: 0.64;
}

.text5_div2{
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    text-decoration: none;
    color: #391400;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
}

.footerinfo_div2{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-left: 50px;
    padding-right: 50px;
}

.text1_footerinfo_div2{
    width: 500px;
    height: 150px;
    border: 1px solid #F3D1BF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #391400;
}

.text1_footerinfo_div2 h{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

.text1_footerinfo_div2 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text2_footerinfo_div2{
    width: 500px;
    height: 150px;
    border: 1px solid #F3D1BF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #391400;

}

.text2_footerinfo_div2 h{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    
}

.text2_footerinfo_div2 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text3_footerinfo_div2{
    border: 1px solid #F3D1BF;

    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #391400;

}

.text3_footerinfo_div2 h{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

.text3_footerinfo_div2 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}


.div3{
    height:1000px;
    width: 100%;
    background-color: #fdf0e9;
}

.fullinfo_div3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.info1_div3{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.text1_div3{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 3px;
    color: #EF6D58;
}

.text2_div3{
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    color: #391400;
}

.text3_div3{
    font-size: 20px;
    line-height: 32px;
    color: #391400;
    opacity: 0.64;
}

.text4_div3{
    font-size: 20px;
    line-height: 32px;
    color: #391400;
}

.video{
    pointer-events: none;

}

.list{
    margin-top: 15px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-right: 250px;
    width: 450px;
    list-style-type: none;
    color: #391400;
}

.list1{
    margin-right: 100px;
    letter-spacing: -2px;
    line-height: 80px;
    font-size: 72px;
    font-weight: 800;
}

.list2{
    margin-right: 100px;
    letter-spacing: -2px;
    line-height: 80px;
    font-size: 72px;
    font-weight: 800;
}

.list3{
    margin-right: 100px;
    letter-spacing: -2px;
    line-height: 80px;
    font-size: 72px;
    font-weight: 800;
}

.text5_div3{
    display: flex;
    text-align: center;
    align-items: center;
}

.text6_div3{
    display: flex;
    text-align: center;
    align-items: center;
}

.text7_div3{
    display: flex;
    text-align: center;
    align-items: center;
}

.text8_div3{
    display: flex;
    text-align:left;
    margin-bottom: 6px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 24px;
}

.text9_div3{
    display: flex;
    text-align:left;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 6px;
}

.text10_div3{
    display: flex;
    text-align:left;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 6px;
}

.fullinfo2_div3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px;
}

.info_div3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 80px;
    margin-right: 250px;
    height: 200px;
    width: 430px;
    gap: 35px;
}

.info_div3 h1{
    font-size: 16px;
    line-height: 32px;
    color: #EF6D58;
}

.info_div3 p{
    font-weight: 800;
    font-size: 40px;
    color: #391400;
}

.info_div3 span{
    font-size: 16px;
    line-height: 32px;
    color: #391400;
}












.divprice{
    height:840px;
    width: 100%;
    background-color: #fdf0e9;
}

.text_infoprice{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text_infoprice h1{
    font-size: 16px;
    line-height: 32px;
    color: #EF6D58;
}

.text_infoprice p{
    font-size: 56px;
    line-height: 64px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #391400;
}

.infoprice{
    display: flex;
    flex-direction: column;
}

.prices{
    
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.prices1{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 340px;
    border: 1px solid #F3D1BF;
    border-radius: 3px;
    transition: 0.3s;
    padding-right: 10px;

}

.prices2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 340px;
    border: 1px solid #F3D1BF;
    border-radius: 3px;
    transition: 0.3s;
    padding-right: 10px;
    
}

.prices3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 340px;
    border: 1px solid #F3D1BF;
    border-radius: 3px;
    transition: 0.3s;
    padding-right: 10px;
}


.prices1 h1{
    margin-left: 40px;
    line-height: 32px;
    font-size: 16px;
    color: #EF6D58;
}

.prices2 h1{
    margin-left: 40px;
    line-height: 32px;
    font-size: 16px;
    color: #EF6D58;
}

.prices3 h1{
    margin-left: 40px;
    line-height: 32px;
    font-size: 16px;
    color: #EF6D58;
}


.prices1 h2{
    margin-left: 40px;
    line-height: 48px;
    font-weight: 800;
    font-size: 40px;
    color: #391400;
}

.prices2 h2{
    margin-left: 40px;
    line-height: 48px;
    font-weight: 800;
    font-size: 40px;
    color: #391400;
}

.prices3 h2{
    margin-left: 40px;
    line-height: 48px;
    font-weight: 800;
    font-size: 40px;
    color: #391400;
}

.prices1 h3{
    margin-left: 40px;
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.64;
    color: #391400;
}

.prices2 h3{
    margin-left: 40px;
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.64;
    color: #391400;
}

.prices3 h3{
    margin-left: 40px;
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.64;
    color: #391400;
}

.prices1:hover{
    background-color: white;
    transform: translateY(-60px);
    height: 510px;
}

.prices1:hover .btn_price{
    background-color: #EF6D58;
}

.prices2:hover{
    background-color: white;
    transform: translateY(-60px);
    height: 510px;
}

.prices2:hover .btn_price{
    background-color: #EF6D58;
}

.prices3:hover{
    background-color: white;
    transform: translateY(-60px);
    height: 510px;
}

.prices3:hover .btn_price{
    background-color: #EF6D58;
}

.dignities{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dignities_btn{
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn_price{
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 800;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}


.plus{
    height: 16px;
    width: 16px;
}

.dignities p{
    margin-top: 1px;
}

.div_asks{
    margin-bottom: 1000px;
    height:1000px;
    width: 100%;
    background-color: #fdf0e9;
}

.asks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.asks_info1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;
}

.asks_info1 h1{
    color: #EF6D58;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 32px;

}

.asks_info1 p{
    color: #391400;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;

}

.asks_info1 span{
    color: #391400;
    font-size: 16px;
    line-height: 32px;
    opacity: 0.64;

}

.asks_info1 h2{
    color: #391400;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}



.ask1_small{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 120px;
    background-color: transparent;
    border-radius: 7px 7px 0 0;
    border: 2px solid rgba(57, 20, 0, 0.12);
    border-bottom: none;
}


.ask1_small p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.ask1_big{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 255px;
    background-color: white;
    border-radius: 7px 7px 0 0;
    border: 2px solid rgba(57, 20, 0, 0.12);
    border-bottom: none;
    
}

.ask1_big p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ask2_small{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 120px;
    background-color: transparent;
    border: 2px solid rgba(57, 20, 0, 0.12);
    border-bottom: none;

}


.ask2_small p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ask2_big{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 255px;
    background-color: white;
    border: 2px solid rgba(57, 20, 0, 0.12);
    border-bottom: none;

}

.ask2_big p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.ask3_small{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 120px;
    background-color: transparent;
    border: 2px solid rgba(57, 20, 0, 0.12);
    border-bottom: none;

}


.ask3_small p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ask3_big{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 255px;
    background-color: white;
    border: 2px solid rgba(57, 20, 0, 0.12);
    border-bottom: none;

}

.ask3_big p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.ask4_small{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 120px;
    background-color: transparent;
    border: 2px solid rgba(57, 20, 0, 0.12);
    border-radius: 0 0 7px 7px;
}


.ask4_small p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ask4_big{
    display: flex;
    flex-direction: column;    width: 600px;
    height: 255px;
    background-color: white;
    border: 2px solid rgba(57, 20, 0, 0.12);
}

.ask4_big p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#text_ask1{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 26px;
    opacity: 0.64;
    color: #391400;
    line-height: 32px;
}

#text_ask2{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    opacity: 0.64;
    color: #391400;
    line-height: 32px;
}

#text_ask3{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 26px;
    opacity: 0.64;
    color: #391400;
    line-height: 32px;
}

#text_ask4{
    margin-left: 30px;
    margin-right: 30px;
    opacity: 0.64;
    color: #391400;
    line-height: 32px;
}

#ask1{
    transition: 0.25s;
}


#ask2{
    transition: 0.25s;
}

#ask3{
    transition: 0.25s;
}

#ask4{
    transition: 0.25s;
}