
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    font-family: "Epilogue";
}

.div1{
    height:1000px;
    width: 100%;
    background-color: #28293e;
}

.container{
    padding-top: 35px;
    padding-left: 120px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.logo{
    width: 152px;
    height: 48px;
}

.head{
    display: flex;
    justify-content: space-between;
}

.nav_header{
    margin-top: 20px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 160px;
    list-style-type: none;
    color: white;
}

.btn{
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    background-color: #F1F1F1;
    border-radius: 7px;
    color: white;
    background-color: transparent;
    border: 0.01px solid white;
}

.fullinfo_div1{
    display: flex;
    padding-top: 130px;
    justify-content: space-between;
}

.info_div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 700px;
    height: 500px;
}

.star{
    position: relative;
    scale: 1;
    z-index: 1;
    margin-bottom: -210px;
    margin-left: 385px;
}

.text1_div1{
    letter-spacing: 3PX;
    font-size: 16px;
    color: #EF6D58;

}

.text2_div1{
    letter-spacing: -2px;
    line-height: 80px;
    font-weight: 800;
    font-size: 72px;
    color: #FFFFFF;
}

.text3_div1{
    line-height: 32px;
    font-size: 16px;
    opacity: 0.64;
    color: #FFFFFF;
}


.btn_div1{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.btn_div1 a{
    text-decoration: none;
    color: white;
}


.btn2{
    font-weight: 800;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    background-color: #EF6D58;
    border-radius: 7px;
    color: white;
}

.btn3{
    margin-top: 13px;
}

.info_div2{
    display: relative;
    width: 700px;
    height: 600px;
}

.shape_notebook{
    position: absolute;
    z-index: 1;

}

.notebook{
    position: absolute;
    z-index: 2;
    margin-top: 25px;
    margin-left: 25px;
}

.oval{
    z-index: 2;
    position: absolute;
    margin-left: 320px;
    margin-top: 40px;
}

.shape{
    z-index: 3;
    position: absolute;
    margin-left: 353px;
    margin-top: 68px;
}

.oval2{
    z-index: 0;
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
}

.shape3{
    z-index: 2;
    position: absolute;
    margin-left: 330px;
    margin-top: 200px;
}

.path{
    z-index: 2;
    position: absolute;
    margin-left: 480px;
    margin-top: 100px;
}

.footerinfo_div1{
    display: flex;
    gap: 40px;
}

.logo_man{
    height: 54px;
    width: 54px;
}

.text_footerinfo_div1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


.text1_footerinfo_div1{
    color: white;
    opacity: 0.64;
}

.text2_footerinfo_div1{
    color: white;
}


.div2{
    height:1000px;
    width: 100%;
    background-color: #fdf0e9;
}


.header_div2 {
    display: flex;
    justify-content: center;

    padding-left: 220px;
    padding-right: 30px;

}

.rectangle{
    margin-left: 220px;
}

.fullinfo_div2{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    gap: 180px;
}

.info1_div2{

}

.info2_div2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 500px;
    width: 500px;
}

.text1_div2{
    font-size: 16px;
    letter-spacing: 3px;
    color: #EF6D58;
}

.text2_div2{
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1px;
    color: #391400;
}

.text3_div2{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
}

.text4_div2{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
    opacity: 0.64;
}

.text5_div2{
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    text-decoration: none;
    color: #391400;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
}

.footerinfo_div2{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-left: 50px;
    padding-right: 50px;
}

.text1_footerinfo_div2{
    width: 500px;
    height: 150px;
    border: 1px solid #F3D1BF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #391400;
}

.text1_footerinfo_div2 h{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

.text1_footerinfo_div2 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text2_footerinfo_div2{
    width: 500px;
    height: 150px;
    border: 1px solid #F3D1BF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #391400;

}

.text2_footerinfo_div2 h{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

.text2_footerinfo_div2 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.text3_footerinfo_div2{
    border: 1px solid #F3D1BF;

    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #391400;

}

.text3_footerinfo_div2 h{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

.text3_footerinfo_div2 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
